{% extends "base.html" %}
{% block content %}
{% load static %}

<style>
  body {
      
      background: url("{% static 'background2.jpg' %}");
      padding:5px;
      /* width:1750px;
      height:1200px; */
      background-repeat:no-repeat;
  }
</style>
<!doctype html>
<html>
<head>
  
<title>Defaultorlist</title>
<body><centre>
<h1>Defaultorlist</h1>

<h1>2 year</h1> 
     <li>ISHAQ</li>
          
      <li>ROHAN</li>
      <li>BHED</li>
      <li>ARSHAD</li>
</ul>
</centre>
</body>
</head>

</html>

{% endblock content %}